.site-header-logo a:hover {
	text-decoration: none;
}

.site-header-logo {
	font-weight: bold;
}

.site-header-logo img {
	margin: 12px 6px;
}

.page-content {
	padding: 0;
}

.site-header,
.site-footer {
	border-top: 0;
	border-bottom: 0;
}

.post-title {
	font-weight: 400;
	font-size: 32px;
}

.hidden {
	display: none;
}

#fabricDownloadForm {
	font-family: sans-serif;
}

#fabricDownloadForm .button-bar {
	display: inline-block;
}

#fabricDownloadForm .button-bar small {
	font-size: 9px;
}

#fabricDownloadForm .button-bar .button {
	background-color: #ddd;
	padding: 8px 20px;
	display: inline-block;
	cursor: pointer;
}

#fabricDownloadForm .button-bar .button-active {
	background-color: #bbb;
	border: 2px solid #333;
	cursor: default;
}

#fabricDownloadForm .show-expert {
	color: #cc0000;
}

.page-link-download {
	background-color: $fabric-download-color;
	border: none;
	color: white !important;
	padding: 5px 8px;
	text-align: center;
	text-decoration: none;
	display: inline-block;

	box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
	border-radius: 5px;

	&:hover,
	&:focus {
		background-color: darken($fabric-download-color, 10%);
		text-decoration: none;
		color: white;
	}
}

.page-link-info {
	background-color: transparent;
	border: 2px solid $fabric-download-color;
	color: $text-color !important;
	padding: 5px 8px;
	text-align: center;
	text-decoration: none;
	display: inline-block;

	box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
	border-radius: 5px;

	&:hover,
	&:focus {
		background-color: darken($fabric-download-color, 10%);
		text-decoration: none;
		color: white;
	}
}

.button,
button,
.button:visited {
	background-color: $fabric-download-color;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 20px;
	font-weight: 700;

	box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
	border-radius: 5px;
}

.button:hover,
button:hover,
.button:focus,
button:focus {
	background-color: darken($fabric-download-color, 10%);
	text-decoration: none;
	color: white;
}

.button:active,
button:active {
	background-color: #2a7ae2;
}

.download {
	text-align: center;
}

.form-line {
	margin-bottom: 1rem;

	&>label {
		display: block;
	}
}

body {
	input, select {
		padding: 5px 12px;
		font-size: 14px;
		line-height: 20px;
		vertical-align: middle;
		background-color: lighten($background-color, 4%);
		border: 1px solid $grey-color-very-dark;
		border-radius: 6px;
	}

	hr {
		border: none;
    	height: 1px;
		background-color: $grey-color-very-dark;
	}
}

.home {
	.row {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		width: 100%;
		padding-bottom: 24px;
	}

	.column {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		flex: 1;
		padding-left: 12px;
		padding-right: 12px;
	}

	.row-heading {
		padding-top: 12px;
		padding-left: 12px;
	}

	@media screen and (max-width: 1024px) {
		.hide-large {
			display: none !important;
		}

		.component-body {
			min-height: 170px;
		}
	}
}