---
---

$background-color: #0d1117;
$text-color: #c9d1d9;
$grey-color-light: #8b949e;
$grey-color-dark: #6e7681;
$grey-color-very-dark: #30363d;

$button-color: #1f6feb;
$warning-color: #eb811f;

$content-width: 1024px;

@import "{{ site.theme }}";
@import "fabric";

code, select, pre, input {
    background-color: $background-color;
    color: $text-color;
}

.site-title {
    color: $text-color !important;
}

.highlight {
    background-color: $background-color !important;
    color: $text-color !important;

    .gd {
        color: $text-color !important;
        background-color: rgba(248,81,73,0.4) !important;
    }

    .gi {
        color: $text-color !important;
        background-color: rgba(46,160,67,0.4) !important;
    }
}

a, a:visited {
    color: #58a6ff;
}

table {
    tr {
        &:nth-child(even) {
            background-color: #151b23;
        }
    }
    th {
        background-color: #151b23;
      }
}