---
layout: page
---

{{content}}

<noscript style="color:red">You need Javascript to show the download options</noscript>

<div class="fabric-component" data-component="{{page.svelte_component}}"></div>

<p>
    Make sure to follow the
    <a href="https://fabricmc.net/wiki/install">installation instructions!</a>
</p>
<p>
    <strong>
        Most mods will also require you to install
        <a href="https://www.curseforge.com/minecraft/mc-mods/fabric-api">
            Fabric API
        </a>
        into the mods folder.
    </strong>
</p>
<div>
    <u>Other installation options:</u>
    <br />
    <ul>
        <li>
            <a href="{% link use/installer.md %}">
                Minecraft Launcher
            </a>
        </li>
        <li>
            <a href="{% link use/server.md %}">Minecraft Server</a>
        </li>
        <li>
            <a href="https://fabricmc.net/wiki/player:tutorials:install_multimc:windows">
                MultiMC
            </a>
        </li>
        <li>
            <a href="https://www.curseforge.com/minecraft/mc-mods?filter-game-version=2020709689%3A7499&filter-sort=4">
                CurseForge
            </a>
        </li>
        <li>
            <a href="https://gdevs.io/">
                GDLauncher
            </a>
        </li>
        <li>
            <a href=https://atlauncher.com/>
                ATLauncher
            </a>
            (Modpack Dev)
        </li>
        <li>
            <a href="{% link use/mcupdater.md %}">MCUpdater</a>
            (Modpack Dev)
        </li>
        <li>
            <a href="{% link use/technic.md %}">Technic</a>
            (Modpack Dev)
        </li>
        <li>
            <a href="https://github.com/mindstorm38/portablemc">portablemc</a>
            (Command Line)
        </li>
        <li>
            <a href="https://github.com/FabricMC/fabric-meta#fabric-meta">
                Metadata API
            </a>
            (Launcher Dev)
        </li>
    </ul>
</div>

{% assign cacheBust = site.time | date:'?v=%s' %}
<script type="text/javascript" src="{{ "/scripts/main.js" | relative_url | append: cacheBust }}"></script>
<link href="{{ "/scripts/style.css" | relative_url | append: cacheBust }}" rel="stylesheet">
